#feedback{
    background-image: url('../img/bg-depoimentos.png');
}

.content-card-feedback{
    background-color: white;
    height: 310px;
}
.titulo1-feedback{
    font-family: var(--fonte-SegoeUi);
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.titulo2-feedback{
    font-family: var(--fonte-SegoeUi);
    font-weight: 500;
    font-size: 3rem;
    color: white;
}

.cliente h2{
    font-family: var(--fonte-SegoeUi);
    font-size: 1.5rem;
    color: rgba(48, 48, 48, 1);
    font-weight: 600;
}

.content-card-feedback h3{
    font-family: var(--fonte-SegoeUi);
    font-size: 0.95rem;
    color: rgba(48, 48, 48, 1);
    font-weight: 400;
}

.avaliacao p{
    font-family: var(--fonte-SegoeUi);
    font-size: 1.1rem;
    font-weight: 300;
    color: rgba(48, 48, 48, 1);
}

.cliente4{
    border-radius: 100%;
}

.swiper-button-prev, .swiper-button-next{
    color: rgba(5, 84, 140, 1);
}
.swiper-button-prev{
    left: 0px;  
}
/* .swiper-button-prev::after, .swiper-button-next::after{
    
} */
.swiper-button-next{
    right: 0px;
}